<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Data Table</title>
<!-- <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0"> -->
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" type="text/css" href="/static_csv/css/style.css">
<link rel="stylesheet" type="text/css" href="/static_csv/scss/style.scss">

</head>

<body>

  <div class="container">
  <table class="responsive-table">
    <caption>Directory: {{ directory }}</caption>
    <thead>
      <tr>
        <th scope="col">File Name</th>
        <th scope="col">Type</th>
        <th scope="col">Size(Bytes)</th>
        <th scope="col">Time Change</th>
        <th scope="col">Download</th>

      </tr>
    </thead>
    <!-- <tfoot>
      <tr>
        <td colspan="7">Sources: <a href="http://en.wikipedia.org/wiki/List_of_highest-grossing_animated_films" rel="external">Wikipedia</a> &amp; <a href="http://www.boxofficemojo.com/genres/chart/?id=animation.htm" rel="external">Box Office Mojo</a>. Data is current as of October 3, 2018.</td>
      </tr>
    </tfoot> -->
    <tbody>
      {% for file in files %}
      <tr>
         <th scope="row"><a href="{{ file.href }}">{{file.filename}}</a></th>
         <td><a> {{file.type}} </a></td>
         <td><a> {{file.size}} </a></td>
         <td><a> {{file.ctime}} </a></td>
         {% if file.type == "file" %}
         <td><a href="{{ file.download }}" ><img src="/static_csv/images/download.png" width=50px; height=25px;/></a></td>
         {% else %}
         <td></td>
         {% endif %}

      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>


</body>

</html>
