[Unit]
Description=rundeck-options-API Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/opt/SVTECH-Junos-Automation/addition_toolkit/rundeck_options_API/rundeck_options_API.py
WorkingDirectory=/opt/SVTECH-Junos-Automation/addition_toolkit/rundeck_options_API
Restart=on-abort

[Install]
WantedBy=multi-user.target

