[Unit]
Description=CSV Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/opt/SVTECH-Junos-Automation/addition_toolkit/csv-to-html-table/server.py
WorkingDirectory=/opt/SVTECH-Junos-Automation/addition_toolkit/csv-to-html-table/
Restart=on-abort

[Install]
WantedBy=multi-user.target

